<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>717158942683-aa03ppudsr49ofq6pj9r0666561cufff.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.717158942683-aa03ppudsr49ofq6pj9r0666561cufff</string>
	<key>API_KEY</key>
	<string>AIzaSyAGq-3KF5uS1uP2R2khMsXNkl21rfFhcFw</string>
	<key>GCM_SENDER_ID</key>
	<string>717158942683</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.testproject</string>
	<key>PROJECT_ID</key>
	<string>sgrnboilerplate</string>
	<key>STORAGE_BUCKET</key>
	<string>sgrnboilerplate.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:717158942683:ios:30c4acc7598e877c9309fe</string>
</dict>
</plist>